torch>=2.1.0
numpy
torchvision
kornia>=0.7.0
Pillow
timm==0.9.8
tqdm
onedrivedownloader
ftfy
regex
pyyaml
transformers>=4.30.0
datasets>=2.12.0
tokenizers>=0.13.0
sentencepiece>=0.1.99
pyarrow>=12.0.0